@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root {
  --c-brand: #4065d0;
  --c-brand-light: #4d75ee;
}

.theme > .page > .container {
  max-width: 56rem;
}

.home-hero {
  .image {
    width: 537px !important;
    height: auto;
    margin-top: 14vh !important;
    margin-bottom: 8vh !important;
  }
  .title {
    display: none;
  }
  .tagline {
    margin-top: 2rem !important;
    margin-bottom: 1vh !important;
  }
}

.nav-bar-title {
  font-family: 'Alata', sans-serif;
  letter-spacing: 0.05em;
  color: #2d355d !important;
}

.nav-bar-title:before {
  content: url(/v-network-graph/head-logo.svg);
  width: 32px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 5px;
  margin-right: 6px;
}
.action .item {
  border-radius: 10px !important;
}

.line-numbers-mode.language-bash {
  padding-left: 0 !important;
  .line-numbers-wrapper {
    display: none;
  }
}

.getting-started-command {
  // hide line number
  .line-numbers-mode.language-ts,
  .line-numbers-mode.language-js,
  .line-numbers-mode.language-vue {
    padding-left: 0;
    .line-numbers-wrapper {
      display: none;
    }
  }
}

.demo-control-panel {
  margin: 10px 10px 0 10px;
  background: #efefef;
  border-radius: 4px;
  padding: 10px 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #DCDFE6;
  label {
    font-size: 13px;
    margin: 10px;
  }

  .demo-marker-panel {
    display: grid;
    grid-template-columns: 60px 1fr;
    > div:nth-child(odd) {
      font-size: 13px;
      font-weight: bold;
      background-color: #efefef;
      border: 1px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.appearance {
    > div {
      display: block;
      label {
        display: inline-block;
        width: 40px;
        margin: 6px;
      }
    }
  }
}

.example-list {
  .example-item {
    display: grid;
    grid-template-columns: minmax(30%, 242px) minmax(40%, 80%);
    // grid-template-columns: 242px 1fr;
    pointer-events: all;
    margin: 30px 0;
    p {
      margin: 0;
    }
    p:first-child {
      img {
        float: left;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 242px;
        height: auto;
      }
    }
    p:last-child {
      font-size: 18px;
      a {
        display: flex;
        height: 100%;
        width: 100%;
        padding-left: 40px;
        align-items: center;
        color: var(--c-text);
      }
      a:hover {
        color: #3eaf7c;
      }
    }
  }
  .example-item:hover {
    a img {
      border-color: var(--c-brand);
    }
    p:last-child a {
      color: var(--c-brand);
      text-decoration: underline;
    }
  }
}

.reference-table {
  th, td {
    padding: 8px 10px;
    font-size: 90%;
    vertical-align: top;
  }
  code {
    line-height: 1.8em;
  }
  .instance-methods {
    td:first-child {
      width: 35%;
      word-break: break-all;
    }
  }
}
.reference-props-types,
.reference-configs {
  // hide line number
  .line-numbers-mode {
    &.language-js, &.language-ts {
      padding-left: 0;
      &:before {
        content: ""
      }
    }
  }
  .line-numbers-wrapper {
    display: none;
  }
  pre {
    padding: 1rem 1.2rem;
  }
  code {
    font-size: 12px;
    line-height: 100%;
  }
}