:root {
  // -------------------------------------------------------
  // VitePress
  // -------------------------------------------------------
  --vp-c-brand: #4065d0;
  --vp-c-brand-light: #4d75ee;
  --vp-c-bg-soft: #f6f8ff;
  --vp-c-bg-soft-up: #fbfcff;

  --vp-button-brand-border: #4162c5;
  --vp-button-brand-hover-border: #4162c5;
  --vp-button-brand-active-border: #4162c5;

  --vp-button-brand-hover-bg: #3050b1;
  --vp-button-brand-active-bg: #244095;

  // TIP
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-text-2);
  --vp-custom-block-tip-bg: var(--vp-c-bg-soft-up);
  --vp-custom-block-tip-code-bg: #e7e9f3;

  // INFO
  --vp-custom-block-info-border: var(--vp-c-brand);
  --vp-custom-block-info-text: var(--vp-c-text-2);
  --vp-custom-block-info-bg: var(--vp-c-bg-soft-up);
  --vp-custom-block-info-code-bg: #e7e9f3;
}

body {
  // -------------------------------------------------------
  // element-plus
  // -------------------------------------------------------
  --el-color-primary: var(--vp-c-text-2);
  .el-button {
    --el-button-hover-bg-color: #eeeeee;
    --el-button-hover-border-color: #b5b5b5;
    --el-button-active-bg-color: #e0e0e0;
    --el-button-active-border-color: #999999;
  }
  .el-button--primary {
    --el-button-bg-color: var(--vp-c-brand);
    --el-button-border-color: var(--vp-button-brand-border);
    --el-button-hover-bg-color: var(--vp-button-brand-hover-bg);
    --el-button-hover-border-color: var(--vp-button-brand-hover-border);
    --el-button-active-bg-color: var(--vp-button-brand-active-bg);
    --el-button-active-border-color: var(--vp-button-brand-active-border);
  }
  .el-button--primary.is-disabled {
    --el-button-disabled-bg-color: #a3b5eb;
    --el-button-disabled-border-color: #a3b5eb;
  }
  .el-select {
    --el-select-width: 190px;
  }
}

.Layout:has(.VPHome) .VPImage.logo {
  display: none;
}

.VPNavBar .VPNavBarTitle {
  .VPImage.logo {
    width: 207px;
    height: auto;
    position: relative;
    left: -14px;
  }
}

.VPHome {
  .VPHero .container .main {
    .name {
      margin: 0 auto 1.5rem auto;
      text-align: center;
      .clip {
        display: none;
      }
    }
    .name::before {
      content: "";
      display: inline-block;
      width: 540px;
      max-width: 100%;
      aspect-ratio: 540 / 100;
      // background-image: url(/v-network-graph/logo.svg);
      background-image: image-set(
        url("/v-network-graph/logo.png") 1x,
        url("/v-network-graph/logo@2x.png") 2x);

      background-size: contain;
      vertical-align: middle;
    }
    .tagline {
      margin: 0 auto;
      max-width: initial;
      text-align: center;
    }
    .actions {
      padding-top: 38px;
      justify-content: center;
      .action {
        padding: 6px 10px;
      }
      .VPButton.medium {
        line-height: 50px;
        padding: 0 30px;
        border-radius: 25px;
        font-size: 16px;
      }
    }
  }
  padding-bottom: 20px !important;
}

.VPSidebar {
  .indicator {
    width: 4px;
  }
  .VPSidebarItem.is-active {
    > .item > .indicator {
      border-radius: 2px;
      background-color: var(--vp-c-brand);
    }
  }
}

.line-numbers-mode.language-bash {
  padding-left: 0 !important;
  .line-numbers-wrapper {
    display: none;
  }
}

.vp-doc .getting-started-command {
  // hide line number
  .language-ts.line-numbers-mode,
  .language-js.line-numbers-mode,
  .language-vue.line-numbers-mode {
    padding-left: 0;
    .line-numbers-wrapper {
      display: none;
    }
  }
}

.demo-control-panel {
  margin: 10px 10px 0 10px;
  background: #efefef;
  border-radius: 4px;
  padding: 10px 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #DCDFE6;
  label {
    font-size: 13px;
    margin: 10px;
  }

  .demo-marker-panel {
    display: grid;
    grid-template-columns: 60px 1fr;
    > div:nth-child(odd) {
      font-size: 13px;
      font-weight: bold;
      background-color: #efefef;
      border: 1px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.appearance {
    > div {
      display: block;
      label {
        display: inline-block;
        width: 40px;
        margin: 6px;
      }
    }
  }
}

.example-list {
  .example-item {
    display: grid;
    grid-template-columns: minmax(30%, 242px) minmax(40%, 80%);
    // grid-template-columns: 242px 1fr;
    pointer-events: all;
    margin: 30px 0;
    p {
      margin: 0;
    }
    p:first-child {
      img {
        float: left;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 242px;
        height: auto;
        aspect-ratio: 3 / 2;
      }
    }
    p:last-child {
      font-size: 18px;
      a {
        display: flex;
        height: 100%;
        width: 100%;
        padding-left: 40px;
        align-items: center;
        color: var(--vp-c-text);
      }
      a:hover {
        color: #3eaf7c;
      }
    }
  }
  .example-item:hover {
    a img {
      border-color: var(--vp-c-brand);
    }
    p:last-child a {
      color: var(--vp-c-brand);
      text-decoration: underline;
    }
  }
}

.reference-table {
  th, td {
    padding: 8px 10px;
    font-size: 90%;
    vertical-align: top;
  }
  code {
    line-height: 1.8em;
  }
  .instance-methods {
    td:first-child {
      width: 35%;
      word-break: break-all;
    }
  }
  pre.code {
    line-height: 1.4em;
    font-size: var(--vp-code-font-size);
    color: var(--vp-code-color);
    background-color: var(--vp-code-bg);
    border-radius: 4px;
    padding: 3px 6px;
    margin: 0;
  }
  li + li {
    margin-top: 0;
  }
}
.vp-doc {
  .reference-props-types,
  .reference-configs {
    // hide line number
    .line-numbers-mode {
      &.language-js, &.language-ts {
        padding-left: 0;
        &:before {
          content: ""
        }
      }
    }
    .line-numbers-wrapper {
      display: none;
    }
    code {
      font-size: 11px;
      line-height: 140%;
    }
  }
}

.custom-block {
  &.tip .custom-block-title,
  &.info .custom-block-title {
    color: var(--vp-c-brand);
  }
}

