
.demo-control-panel {
  margin: 10px 10px 0 10px;
  background: #efefef;
  border-radius: 4px;
  padding: 10px 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
